body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('Whiterun.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}
p {
    color: #f0f0f0;
    margin: 10px;
    font-size: 16px;
    line-height: 1.5;
}
.italic { font-style: italic; }
.content-block {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #000;
    padding: 15px;
    box-sizing: border-box;
}
.header, .footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #f0f0f0;
    padding: 20px;
    border: 2px solid #000;
    text-align: center;
}
.header { margin-bottom: 10px; }
.footer { margin-top: auto; }
.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0 10px;
    flex: 1;
}
.block2 { flex: 1; }
.block3 { flex: 1; }
.group {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.block4 {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-columns {
    display: flex;
    gap: 10px;
    flex: 1;
}
.block5, .block6 {
    flex: 1;
}
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 5px;
    }
    .sub-columns {
        flex-direction: column;
    }
    .block2, .block3, .group, .block5, .block6 {
        width: 100%;
        flex: auto;
        margin-bottom: 10px;
    }
    p {
        font-size: 20px;
    }
    .block4 {
        padding: 10px;
        margin-bottom: 10px;
    }
    .footer {
        margin-top: 20px;
    }

}
